.colorHover:hover {
    background-color: rgb(145, 184, 198); 
    cursor: pointer;
}

.content {
    white-space: pre-wrap;
}

.img {
    cursor: pointer;
}

.postLink {
    cursor: pointer;
    text-align: center;
}

.postName {
    text-align: end;
}

.likeShare {
   
}